@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Rubik+Glitch&display=swap');

body {
    font-family: 'EB Garamond', Serif, serif;
}

.form-w500 {
    /*border: rgba(119, 119, 119, 0.69) solid;*/
    /*padding: 30px;*/
    /*border-radius: 30px;*/
    /*margin: 30px;*/
    max-width: 500px;
}

button[type=submit], .link {
    min-width: 210px;
    margin-top: 25px;
    border-radius: 0;
}

label {
    text-transform: uppercase;
    font-size: 90%;
}

.vertical-center {
    min-height: 80%; /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;

}

.pfp {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 50px;
!important;
}

.edit:hover {
    cursor: pointer;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.editable-pic:hover {
    opacity: 70%;
}

.camera {
    position: relative;
    /*background-color: rgba(51, 51, 51, 0.18);*/
    min-width: 150px;
}

.cam-content {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    opacity: 0;
}

.cam-content:hover {
    opacity: 00%;
}

.cam-content>.icon-wrapper {
    margin-top: 109px;
    min-width: 100px;
    /*background-color: rgba(120, 120, 120, 0.28);*/
    display: flex;
    justify-content: center;
    padding: 10px;
}