/*@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    /*background-color: rgba(123, 192, 253, 0.75);*/
    background-color: black;
    background-image: url("../../errors/project papa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.errorTitle {
    font-family: 'EB Garamond', cursive;
    font-weight: bolder;
    font-size: 500%;
    text-align: center;
    /*color: rgb(0, 146, 183);*/
}

.container {
    color: #0e0e0e;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*color: blueviolet;*/
}

a {
    text-decoration: none;
    color: #0040ff;
}